{% extends '@startupapi/page.html.twig' %}
{% block content %}
<div class="container">
	<div class="row">
		<h1>Welcome,
			{% if picture %}
				<img src="{{picture}}" style="height: 2em">
			{% endif %}

		{{name}}!</h1>
		<div class="fb-like" data-href="https://github.com/StartupAPI/sample-facebook-application" data-send="true" data-show-faces="false"></div>
		{% if cover %}
		<div>
			<img src="{{cover}}" style="width: 100%">
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
