{% extends '@startupapi/page.html.twig' %}
{% block content %}
<div class="container">
	<div class="row">
		<h1>Welcome, {{name}}!</h1>
		<div class="fb-like" data-href="https://github.com/StartupAPI/sample-facebook-application" data-send="true" data-show-faces="false"></div>
		<div>
			{% for friend in friends %}
				<a href="http://www.facebook.com/{{friend.id}}" target="_blank"><img src="{{friend.picture}}" title="{{friend.name}} class="fb-userpic"/></a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
